<li class="list-group-item">
    <div class="card-body">

    <app-file-upload></app-file-upload>


    </div>



    </li>
    <li class="list-group-item" *ngFor="let entry of entrys">

              <div class="card mb-3">
                <img class="card-img-top" src="{{entry.image}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{entry.owner}}</h5>
                  <p class="card-text">{{entry.description}}.</p>
                  <p class="card-text">{{entry.other}}</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>

              </li>
              <li class="list-group-item" *ngFor="let entry of entrys">
  
</li>
