<header class="pt-md-3 pb-md-4 bg-light">
    <div class="container">
	<div class="row">
	    <div class="col-3">
		<div class="card p-3">
		    <blockquote class="blockquote mb-0 card-body">
			<p>Ac&aacute; debe ir la foto de perfil con los datos b&aacute;cicos del Perfil</p>
			<footer class="blockquote-footer">
			    <small class="text-muted">
				Someone famous in <cite title="Source Title">Source Title</cite>
			    </small>
			</footer>
		    </blockquote>
		</div>
	    </div>
	    <div class="col-6">
		<div class="card p-3 text-center">
		    <ul class="list-group list-group-flush">
			<app-user-entry></app-user-entry>
		    </ul>
		</div>
	    </div>
	    <div class="col-3">
		<div class="card">
		    <img class="card-img-top" src="..." alt="Card image cap">
		    <div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</header>
