<div id="gtco-counter" class="gtco-section">
    <div class="gtco-container">
	<div class="row">
	    <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
		<h2 class="cursive-font primary-color">Great Facts</h2>
		<p>The greatest goal in our company today.</p>
	    </div>
	</div>
	<div class="row">
	    <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
		<div class="feature-center">
		    <span class="counter js-counter" data-from="0" data-to="5" data-speed="5000" data-refresh-interval="50">1</span>
		    <span class="counter-label">Avg. Rating</span>
		</div>
	    </div>
	    <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
		<div class="feature-center">
		    <span class="counter js-counter" data-from="0" data-to="43" data-speed="5000" data-refresh-interval="50">1</span>
		    <span class="counter-label">Saved Races</span>
		</div>
	    </div>
	    <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
		<div class="feature-center">
		    <span class="counter js-counter" data-from="0" data-to="65" data-speed="5000" data-refresh-interval="50">1</span>
		    <span class="counter-label">Adoptions</span>
		</div>
	    </div>
	    <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
		<div class="feature-center">
		    <span class="counter js-counter" data-from="0" data-to="2018" data-speed="5000" data-refresh-interval="50">1</span>
		    <span class="counter-label">Year Started</span>
		</div>
	    </div>
	</div>
    </div>
</div>
