<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(assets/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-20 col-md-offset-0 text-left">


					<div class="row row-mt-15em">
						<div class="col-md-3 mt-text animate-box" data-animate-effect="fadeInUp">
						</div>
						<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
							<div class="form-wrap">
								<div class="tab">

									<div class="tab-content">
										<div class="tab-content-inner active" data-content="signup">
											<h3 class="cursive-font">Emma Watson</h3>

											<form action="#">

												<div class="row form-group">
													<div class="col-md-12">

														<a href="user"> <img class="img-circle img-responsive"  src="assets/images/emma.png" alt="Generic placeholder image" width="200" height="200"></a>

	                          <p class="cursive-font">(Paris, April 15, 1990) I am an actress, model, British philanthropist and animal lover. I love cats.</p>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>


<div class="col-md-8 col-md-offset-2 text-center gtco-heading">

	<div class="mygallery" >
			<h2 class="cursive-font primary-color">Publications</h2>
<div class="text-center">

<a href="images/m1.jpg" title="My Image Gallery"><img src="assets/images/m1.jpg" alt="example-1" class="img-responsive"></a>
<a href="images/m2.jpg" title="My Image Gallery"><img src="assets/images/m2.jpg" alt="example-2" class="img-responsive slideanim"></a>
<a href="images/m3.jpg" title="My Image Gallery"><img src="assets/images/m3.jpg" alt="example-3" class="img-responsive slideanim"></a>
<a href="images/m4.jpg" title="My Image Gallery"><img src="assets/images/m4.jpg" alt="example-3" class="img-responsive slideanim"></a>
<a href="images/m5.jpg" title="My Image Gallery"><img src="assets/images/m5.jpg" alt="example-3" class="img-responsive slideanim"></a>
<a href="images/m6.jpg" title="My Image Gallery"><img src="assets/images/m6.jpg" alt="example-3" class="img-responsive slideanim"></a>
<a href="images/m7.jpg" title="My Image Gallery"><img src="assets/images/m7.jpg" alt="example-3" class="img-responsive slideanim"></a>
<a href="images/m8.jpg" title="My Image Gallery"><img src="assets/images/m8.jpg" alt="example-3" class="img-responsive slideanim"></a>
<a href="images/m9.jpg" title="My Image Gallery"><img src="assets/images/m9.jpg" alt="example-3" class="img-responsive slideanim"></a>
<a href="images/m10.jpg" title="My Image Gallery"><img src="assets/images/m10.jpg" alt="example-3" class="img-responsive slideanim"></a>
<a href="images/m11.jpg" title="My Image Gallery"><img src="assets/images/m11.jpg" alt="example-3" class="img-responsive slideanim"></a>



</div>




</div>



</div>
