<div class="text-center">
    <form class="form-signin">
	<img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
	<h1 class="h3 mb-3 font-weight-normal">¡Por favor, ingresa!</h1>
	<label for="inputEmail" class="sr-only">Email</label>
	<input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
	<label for="inputPassword" class="sr-only">Contraseña</label>
	<input id="inputPassword" class="form-control" placeholder="Password" required="" type="password">
	<div class="checkbox mb-3">
            <label>
		<input value="remember-me" type="checkbox"> Recordarme
            </label>
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
    </form>
</div>
